<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_DataTable">
<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
            For more information about DataTables, please visit the <a target="_blank"
                                                                       href="https://datatables.net">official DataTables
                documentation</a>.
        </p>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>닉네임</th>
                            <th>이름</th>
                            <th>회원구분</th>
                            <th>소속클럽</th>
                            <th>예치금</th>
                            <th style="display:none">id</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>닉네임</th>
                            <th>이름</th>
                            <th>회원구분</th>
                            <th>소속클럽</th>
                            <th>예치금</th>
                            <th style="display:none">id</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="member : ${memberInfo}">
                            <td th:text="${member.userNickName}"></td>
                            <td th:text="${member.userName}"></td>
                            <td th:text="${member.addressType}"></td>
                            <td th:text="${member.clubList}"></td>
                            <td>
                                <span style="display: inline-block; width:3em;"
                                      th:text="${member.deposit}"></span>
                                <div style="display: inline;">
                                    <a href="#" class="btn btn-primary btn-sm">
                                        <span class="text chulcheck" style="padding:.185rem .325rem; font-size:10ox">출석</span>
                                    </a>
                                    <a href="#" class="btn btn-success btn-sm">
                                        <span class="text" style="padding:.185rem .325rem; font-size:10ox">-1500</span>
                                    </a>
                                    <a href="#" class="btn btn-danger btn-sm">
                                        <span class="text" style="padding:.185rem .325rem; font-size:10ox">직접변경</span>
                                    </a>
                                    <a href="#" class="btn btn-secondary btn-sm">
                                        <span class="text">
                                            <i class="fas fa-redo-alt"></i>
                                        </span>
                                    </a>
                                </div>
                            </td>
                            <td style="display:none" th:text="${member.memberId}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<script th:inline="javascript">
$(document).ready(function() {
    <!--데이터테이블 START-->
    var lastRowIdx = null;
    var lastColIdx = null;
    var table = $('#myTable').DataTable({
          initComplete: function(settings, json) {
          var filterRow = $(this).closest('.dataTables_wrapper').find('.dataTables_filter');
          var customObject = $('<input id="calandar" name="calandar" type="text" class="form-control" style="margin: 1em">'); // 원하는 객체를 생성합니다.
          filterRow.prepend(customObject); // 필터 영역에 객체를 추가합니다.
        }
    });

    $('#myTable tbody')
        .on('mouseover', 'td', function () {
            var rowIdx = table.cell(this).index().row;
            var colIdx = table.cell(this).index().column;

            $(table.cells().nodes()).removeClass('highlight');

            $(table.column(colIdx).nodes()).addClass('highlight');
            $(table.row(rowIdx).nodes()).addClass('highlight');

            if (lastRowIdx !== null && lastRowIdx !== rowIdx) {
                $(table.row(lastRowIdx).nodes()).removeClass('highlight');
            }

            lastRowIdx = rowIdx;
            lastColIdx = colIdx;
        })
        .on('mouseleave', function () {
            $( table.cells().nodes() ).removeClass( 'highlight' );
            lastRowIdx = null;
            lastColIdx = null;
        });
    <!--데이터테이블 END-->

    <!--부트스트랩 데이트 피커  START-->
   $('#calandar').dateDropper();
    <!--부트스트랩 데이트 피커  END-->


    <!-- 동적객체에 대한 이벤트    -->
     $(document).on("click",".chulcheck",function(event){
            alert($(this).text());
      });
   <!-- 동적객체에 대한 이벤트    -->

});

</script>
</th:block>
</html>

