<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_DataTable">
<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
            For more information about DataTables, please visit the <a target="_blank"
                                                                       href="https://datatables.net">official DataTables
                documentation</a>.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="memberTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>닉네임</th>
                            <th>이름</th>
                            <th>회원구분</th>
                            <th>소속클럽</th>
                            <th>예치금</th>
                            <th style="display:none">id</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>닉네임</th>
                            <th>이름</th>
                            <th>회원구분</th>
                            <th>소속클럽</th>
                            <th>예치금</th>
                            <th style="display:none">id</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="member : ${memberInfo}">
                            <td th:text="${member.userNickName}"></td>
                            <td th:text="${member.userName}"></td>
                            <td th:text="${member.addressType}"></td>
                            <td th:text="${member.clubList}"></td>
                            <td>
                                <span style="display: inline-block; width:3em;"
                                      th:text="${member.deposit}"></span>
                                <div style="display: inline;">
                                    <a href="#" class="btn btn-primary btn-sm">
                                        <span class="text" style="padding:.185rem .325rem; font-size:10ox">출석</span>
                                    </a>
                                    <a href="#" class="btn btn-success btn-sm">
                                        <span class="text" style="padding:.185rem .325rem; font-size:10ox">-1500</span>
                                    </a>
                                    <a href="#" class="btn btn-danger btn-sm">
                                        <span class="text" style="padding:.185rem .325rem; font-size:10ox">직접변경</span>
                                    </a>
                                    <a href="#" class="btn btn-secondary btn-sm">
                                        <span class="text">
                                            <i class="fas fa-redo-alt"></i>
                                        </span>
                                    </a>
                                </div>
                            </td>
                            <td style="display:none"th:text="${member.memberId}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>
<script th:inline="javascript">
<!--alert("zzz");-->
$(document).ready(function() {
alert("ddd");
<!--    var memberInfo = /*[[${memberInfo}]]*/ [];-->
<!--    var memberInfoTotalPage = /*[[${memberInfoTotalPage}]]*/ 0;-->
<!--    var currentPage = /*[[${currentPage}]]*/ 0;-->
<!--    console.log(memberInfo);-->

});
</script>
</html>

<!--// 데이터테이블 초기화-->
<!--var table = $('#memberTable').DataTable();-->

<!--// 타임리프로 동적으로 생성된 행에 이벤트 추가-->
<!--$('#memberTable tbody tr').hover(-->
<!--function() {-->
<!--$(this).addClass('highlight');-->
<!--},-->
<!--function() {-->
<!--$(this).removeClass('highlight');-->
<!--}-->
<!--);-->