<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <!--  본문작성 시작-->
    <div class="container">
        <h1>회원 </h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>닉네임</th>
                <th>이름</th>
                <th>거주타입</th>
                <th>소속클럽</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="memberInfo : ${memberInfo}">
                <td th:text="${memberInfo.userNickName}"></td>
                <td th:text="${memberInfo.userName}"></td>
                <td th:text="${memberInfo.addressType}"></td>
                <td th:text="${memberInfo.clubList}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container text-center">
        <nav>
            <ul class="pagination pagination-lg">
                <li>
                    <a th:if="${currentPage+1 > 1}" th:href="@{${'/memberList?page=' + (currentPage)}}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="page, status : ${#numbers.sequence(1, memberInfoTotalPage)}"
                    th:class="${currentPage == page-1} ? 'active'">
                    <a th:href="@{${'/memberList?page=' + page}}" th:text="${page}"></a>
                </li>
                <li>
                    <a th:if="${currentPage+1 != memberInfoTotalPage}"
                       th:href="@{${'/memberList?page=' + (currentPage+2)}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>


    <!--  본문작성 종료-->
</th:block>
</html>