.mainColor-background {
/*  background-color: #c9ac79;*/

}

.highlight {
    background-color: whitesmoke !important;
}

.required-field {
    color: red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.input-error {
    border: 1px solid red;
}
