<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; 무지개동산의 여웅이 </span>
            </div>
        </div>
        <div th:if="${message != null}">
            <script th:inline="javascript">
             alert([[${message}]]);
            </script>
        </div>
    </footer>
</th:block>
</html>