<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
  <head>
    <title>cm</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/style.css">
  </head>
  <header>
  <!-- 상단 메뉴 -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">홈</a></li>
          <li><a href="/defaultPage">기본페이지</a></li>
          <li><a href="/memberList">회원목록</a></li>
          <li><a href="/memberRegister">회원가입</a></li>
        </ul>
      </div>
    </div>
  </nav>
  </header>
</th:block>
</html>