<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="scriptFragment">


    <!--메인화면스크립트-->
    <!-- Bootstrap core JavaScript-->
<!--    <script src="sbadmin/vendor/jquery/jquery.min.js"></script>-->
    <script src="sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
<!--    <script src="sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>-->

    <!-- Custom scripts for all pages-->
    <script src="sbadmin/js/sb-admin-2.min.js"></script>
</th:block>
</html>
