header {
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;
}

body {
  padding-top: 75px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px 0;
}

.navbar-collapse {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}