<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <!-- 본문 내용 -->
    <div class="container">
        <h1>동아리 관리 메인 페이지</h1>
        <p>본문 내용을 추가해주세요.</p>
        <p>본문 내용을 추가해주세요test.</p>
        <p>본문 내용을 추가해주세요tes33t.</p>
        <p>본문 내용을 추가해주세요tes444.</p>
        <p>본문 내용을 추가해주세요tes555.</p>
        <p>본문 내용을 추가해주세요tes666.</p>
        <p>본문 내용을 추가해주세요tes777.</p>
    </div>
</th:block>
</html>