<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
    <!-- 상단 메뉴 -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">동아리 관리</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">홈</a></li>
                    <li><a href="#">멤버</a></li>
                    <li><a href="#">프로젝트</a></li>
                    <li><a href="#">일정</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 본문 내용 -->
    <div class="container">
        <h1>동아리 관리 메인 페이지</h1>
        <p>본문 내용을 추가해주세요.</p>
    </div>
    </body>
</th:block>
</html>