<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_FullCalendar">
<th:block layout:fragment="content">
<script th:inline="javascript">
var calendar;
var datepicker;
var groupIdList=[]
var test;

$(document).ready(function() {

    <!--풀캘린더 생성 START-->
   var calendarEl = $('#calendar')[0];
      // full-calendar 생성하기
     calendar = new FullCalendar.Calendar(calendarEl, {
        height: '700px', // calendar 높이 설정
        expandRows: true, // 화면에 맞게 높이 재설정
        slotMinTime: '08:00', // Day 캘린더에서 시작 시간
        slotMaxTime: '20:00', // Day 캘린더에서 종료 시간
        // 해더에 표시할 툴바
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
<!--          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'-->
          right: 'dayGridMonth,listWeek'
        },
        initialView: 'dayGridMonth', // 초기 로드 될때 보이는 캘린더 화면(기본 설정: 달)
        initialDate: null, // 초기 날짜 설정 (설정하지 않으면 오늘 날짜가 보인다.)
        navLinks: true, // 날짜를 선택하면 Day 캘린더나 Week 캘린더로 링크
        editable: true, // 수정 가능?
        selectable: true, // 달력 일자 드래그 설정가능
        nowIndicator: true, // 현재 시간 마크
        dayMaxEvents: true, // 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
        locale: 'ko', // 한국어 설정
<!--        displayEventTime :false,-->
        eventAdd: function(obj) { // 이벤트가 추가되면 발생하는 이벤트
        },
        eventChange: function(obj) { // 이벤트가 수정되면 발생하는 이벤트
        },
        eventRemove: function(obj){ // 이벤트가 삭제되면 발생하는 이벤트
        },
        eventClick: function(calEvent) {
          showModal(calEvent);
        },
        select: function(arg) { // 캘린더에서 드래그로 이벤트를 생성할 수 있다.
          showModal(arg);
          calendar.unselect()
        },
        dateClick: function (info) {
<!--            console.log("데이트클릭");-->
<!--            console.log(info);-->
        }
      });

       calendar.render();
       setDefaultCalendarDate(/*[[${meetupList}]]*/);
   <!--풀캘린더 생성 END-->

   <!--풀캘린더 동적 이벤트 START-->
    $('.fc-today-button, .fc-prev-button, .fc-next-button').on('click', function() {
    var paramDate;
      if ($(this).hasClass('fc-prev-button')) {
<!--        paramDate = addMonthsToDate(dateToYYYYMMString(calendar.getDate()),-1)-->
        paramDate = addMonthsToDate(dateToYYYYMMString(calendar.getDate()))
      } else if ($(this).hasClass('fc-next-button')) {
<!--        paramDate = addMonthsToDate(dateToYYYYMMString(calendar.getDate()),+1)-->
        paramDate = addMonthsToDate(dateToYYYYMMString(calendar.getDate()))
      }

      if (paramDate) {
            loadMeetupList(paramDate,groupIdList);
      }
   });


    $("#startDate, #endDate").on("change", function() {


        allDayCheck();

    });
   <!--풀캘린더 동적 이벤트 END-->



    <!--모달 데이트피커-->
    datepicker = $('.customPicker').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      language: 'ko',
<!--      startDate: '-10d',-->
<!--      endDate: '+2m',-->
      templates: {
        rightArrow: '<i class="fas fa-chevron-right"></i>',
        leftArrow: '<i class="fas fa-chevron-left"></i>'
      }
    }).on("hide", function(e) {

    }).on("show", function(e) {

    })

    $('#meetupModal').on('hidden.bs.modal', function () {
      initModal();
    });

    <!--show리스너에 이벤트를 넣으면 기본 동작이 멈추는 오류가 있어 클릭이벤트로 대신한다-->
     $("#startDate, #endDate").on("click", function() {
        if($(".customPicker-drown").length==1){
            datePickerDateSetting();
        }
    });

});

function datePickerDateSetting(){
    let startDate = $("#startDate").val();
    let endDate = $("#endDate").val();
    $("#startDate").datepicker('setDate',startDate);
    $("#endDate").datepicker('setDate',endDate);
}


function showModal(data){
    var eventFlag = false;  //이미 등록된 이벤트

    if(data.event == null) {
        eventFlag = true; //최초 이벤트
    }

    modalSetting(data,eventFlag);
    $('#meetupModal').modal('show');
}

function modalSetting(data,eventFlag){
    console.log(data);
    let variables = {
        mStartDate: null
      , mEndDate: null
      , mHostId: null
      , mAllDay: true
      , mStartHour: null
      , mStartMinute: null
      , mEndHour: null
      , mEndMinute: null
      , mPublicId: null
      , mGroupId: null
      , mHostNickName: null
      , mMeetupType: null
      , mTitle: null
      , mEventMemo: null
    };

    if(eventFlag){
        variables.mStartDate =  data.startStr;
        variables.mEndDate = data.endStr;
        //월 스케쥴 최초 등록
        if(data.view.type=="dayGridMonth" && data.id==null){
             variables.mEndDate = subtractOneDay(data.endStr)
        }

        if(variables.mStartDate != variables.mEndDate){
            variables.mAllDay = false;
        }

        toggleDeleteSchedule(false);
        toggleAllDayRadioButton(variables.mAllDay);
        $("#startDate").val(variables.mStartDate)
        $("#endDate").val(variables.mEndDate)
        $('#meetupModal').modal('show');
    } else {
    toggleDeleteSchedule(true);

    variables.mStartDate = data.event.startStr.split('T')[0];
    variables.mEndDate = data.event.endStr.split('T')[0];
    variables.mStartHour = data.event.startStr.substring(11, 13);
    variables.mStartMinute = data.event.startStr.substring(14, 16);
    variables.mEndHour = data.event.endStr.substring(11, 13);
    variables.mEndMinute = data.event.endStr.substring(14, 16);
    variables.mPublicId = data.event._def.publicId;
    variables.mGroupId = data.event._def.groupId;
    variables.mHostId = data.event._def.extendedProps.hostId;
    variables.mHostNickName = data.event._def.extendedProps.hostNickName;
    variables.mMeetupType = data.event._def.extendedProps.meetupType;
    variables.mMeetupTitle = data.event._def.title;
    variables.mEventMemo = data.event._def.extendedProps.memo;
    variables.mAllDay= data.event._def.allDay;

    if(variables.mAllDay){
        variables.mEndDate = variables.mStartDate;
        variables.mAllDay='Y';
        variables.mStartHour='19';
        variables.mStartMinute='30';
        variables.mEndHour='22'
        variables.mEndMinute='00';
    } else {
        variables.mAllDay='N';
    }

    $("#startDate").datepicker('setDate',variables.mStartDate);
    $("#endDate").datepicker('setDate',variables.mEndDate);
    $("#startHour").val(variables.mStartHour);
    $("#startMinute").val(variables.mStartMinute);
    $("#endHour").val(variables.mEndHour);
    $("#endMinute").val(variables.mEndMinute);
    $('input[name="meetupType"][value="' + variables.mMeetupType + '"]').prop('checked', true);
    $('input[name="allDay"][value="' + variables.mAllDay + '"]').prop('checked', true);
    $("#meetupTitle").val(variables.mMeetupTitle);
    $("#eventMemo").val(variables.mEventMemo);
    $("#groupId").val(variables.mGroupId);
    $("#publicId").val(variables.mPublicId);
    $("#hostId").val(variables.mHostId);
    $("#hostName").val(variables.mHostNickName);

    allDayCheck();
    }

}

<!--미사용-->
function sync(jqueryClass,variables){
    let id;
    jqueryClass.find('input:not(:radio), textarea').each( function ( idx, element ) {
        id="m"+this.id.substring(0,1).toUpperCase()+this.id.substring(1);

        if(!(this.id=="startDate" || this.id=="endDate")) {
           $(this).val(variables[id]);
        }

    });
<!--    datePickerDateSetting();-->
}

function toggleDeleteSchedule(flag){
  var deleteScheduleButton = $("#deleteSchedule");
  if(flag) {
    deleteScheduleButton.show();
  } else {
    deleteScheduleButton.hide();
  }
}

function toggleAllDayRadioButton(flag) {
  var allDayRadioButtons = $("#allDayRadioDiv");
 //플래그에 따라 보이고 안보이고 변경
  if(flag) {
    allDayRadioButtons.show();
  } else {
    allDayRadioButtons.hide();
     $('.time').prop('disabled', false);
  }
}


function initModal(){
    console.log("모달초기화");
    $("#startHour").val("19");
    $("#startMinute").val("30");
    $("#endHour").val("22");
    $("#endMinute").val("00");
    $('input[name="allDay"][value="N"]').prop('checked', true);
    $('input[name="meetupType"][value="badminton"]').prop('checked', true);
    $("#meetupTitle").val('');
    $("#eventMemo").val('');
    $("#eventEndHourError").css('display','none');
    $("#endHour,#endMinute").removeClass('input-error');
    $("#eventEndHourError").css('display','none');
    $("#endHour,#endMinute").removeClass('input-error');
    $("#groupId").val('');
    $("#publicId").val('');
    $("#hostId").val('');
    $("#hostName").val('');

    changeAllDayCheck(false);
}

function deleteSchedule(){
    if(confirm("일정을 삭제하시겠습니까?")){

        <!--스프링 시큐리티 CSRF -->
        var header = /*[[${_csrf.headerName}]]*/;
        var token = /*[[${_csrf.token}]]*/;

        $.ajax({
            type: "POST"
            , beforeSend : function(xhr){
                xhr.setRequestHeader(header, token);
              }
            , url: "/meetupDelete"
            , data: {
                        meetupId : $("#publicId").val()
            }
            , success: function(result) {
                console.log(result+" : 삭제");
                calendar.getEventById(result).remove();
                alert("처리되었습니다.");
                $('#meetupModal').modal('hide');
            }
            , error: function(xhr, status, error) {
                alert(xhr.responseText);
            }
        });
   }
}

function saveSchedule(){

    if(!checkTime()) return;
    if(!meetupTitleCheck()) return;

    var publicId = $("#publicId").val();
    var groupId = $('#groupId').val();
    var startDate = $('#startDate').val(); // 시작일 변수
    var endDate = $('#endDate').val(); // 종료일 변수
    var meetupTitle = $('#meetupTitle').val(); // 일정명 변수
    var memo = $('#eventMemo').val(); // 메모 변수
    var meetupType = $("input[name='meetupType']:checked").val();


    var allDayYN;
    //올데이 여부가 체크 가능 할 때
    if($("#allDayRadioDiv").is(":visible")){
        allDayYN  = $("input[name='allDay']:checked").val(); //종일여부;
    } else {
        allDayYN = 'N';
    }

    if(allDayYN=='Y'){
        startDate = startDate+'T'+"00:00:00";
        endDate = endDate+'T'+"00:00:00";
    } else {
        startDate = startDate+'T'+$("#startHour").val()+":"+$("#startMinute").val()+":00";
        endDate = endDate+'T'+$("#endHour").val()+":"+$("#endMinute").val()+":00";
    }

    //오늘, 달력 전 후 구현 / 이미 등록된 이벤트 눌렀을 때 팝업에 세팅하기  구현 / 이벤트 수정 및 삭제 구현/


    var data = {
            "id"            : publicId
        ,   "groupId"       :   groupId
        ,   "meetupTitle"   :   meetupTitle
        ,   "startDate"     :   startDate
        ,   "endDate"       :   endDate
        ,   "memo"          :   memo
        ,   "allDayYN"      :   allDayYN
        ,   "meetupType"    :   meetupType

      }

      <!--스프링 시큐리티 CSRF -->
    var header = /*[[${_csrf.headerName}]]*/;
    var token = /*[[${_csrf.token}]]*/;

    $.ajax({
        type: "POST"
        , beforeSend : function(xhr){
            xhr.setRequestHeader(header, token);
          }
        , url: "/meetupMake"
        , data: JSON.stringify(data)
        , contentType: "application/json"
        , success: function(result) {
            setCalendarDate(result,publicId);
        }
        , error: function(xhr, status, error) {
            alert(xhr.responseText);
        }
        ,  complete: function() {
            $('#meetupModal').modal('hide');
        }
    });
}

function loadMeetupList(initialDate,groupIdList){
    $.ajax({
        type: "POST"
        , url: "/meetup"
        , data: {
                    initialDate: initialDate
                ,   groupIdList: JSON.stringify(groupIdList)
                }
        , success: function(result) {
           setDefaultCalendarDate(result);
        }
        , error: function(xhr, status, error) {
            alert(xhr.responseText);
        }
        ,  complete: function() {
        }
    });
}

function setDefaultCalendarDate(eventList) {
  eventList.map(function(result) {
    let evt = {
      id: result.id,
      title: result.meetupTitle,
      start: result.startDate,
      end: result.endDate,
      allDay: (result.allDayYN === "true"),
      groupId: result.groupId,
      extendedProps: {
        hostId: result.hostId,
        hostNickName: result.hostNickName,
        meetupType: result.meetupType,
        memo: result.memo
      }
    };
     groupIdList.push(evt.id);
     calendar.addEvent(evt);
  });
}

function setCalendarDate(result,publicId){
    let evt = {
        id:result.id
    ,   title: result.meetupTitle
    ,   start: result.startDate
    ,   end: result.endDate
    ,   allDay : (result.allDayYN === "true")
    ,   groupId : result.groupId
    ,   extendedProps: {
            hostId : result.hostId
        ,   hostNickName : result.hostNickName
        ,   meetupType : result.meetupType
        ,   memo : result.memo
      }
    }

    if(publicId != '') {
        calendar.getEventById(publicId).remove();
    }
        calendar.addEvent(evt);


}

function meetupTitleCheck(){
  const meetupTitle = $('#meetupTitle');
  const errorText = $('#meetupTitleError');
  const meetupTitleInput = $('#meetupTitle');

     if (meetupTitle.val().trim() === '') {
        errorText.css('display', 'block');
        meetupTitleInput.addClass('input-error');
        return false;
      }
       errorText.css('display', 'none');
       meetupTitleInput.removeClass('input-error');
       return true;
}

function checkTime() {
    var allDay = $("input[name='allDay']:checked").val();
    if(allDay=='Y') return true

    var startDate = new Date($("#startDate").val());
    var endDate = new Date($("#endDate").val());
    var startHour = parseInt($('#startHour').val());
    var startMinute = parseInt($('#startMinute').val());
    var endHour = parseInt($('#endHour').val());
    var endMinute = parseInt($('#endMinute').val());
    var startTime = startHour * 60 + startMinute;
    var endTime = endHour * 60 + endMinute;

    if (endDate > startDate || (endDate.getTime() === startDate.getTime() && endTime >= startTime)) {
        $("#eventEndHourError").css('display', 'none');
        $("#endHour,#endMinute").removeClass('input-error');

        return true;
    }
        $("#eventEndHourError").css('display','contents');
        $("#endHour,#endMinute").addClass('input-error');
    return false;
}

function changeAllDayCheck(obj){
    if(obj.value == 'Y'){
        $('.time').prop('disabled', true);
       $("#eventEndHourError").css('display','none');
       $("#endHour,#endMinute").removeClass('input-error');
    } else {
        $('.time').prop('disabled', false);
        checkTime();
    }
}


function allDayCheck(){
    var startDateVal =$("#startDate").val();
    var endDateVal =$("#endDate").val();
    //시작일 - 종료일 동일하면 true
    var flag1 = startDateVal == endDateVal ? true : false;

    //올데이 체크되어 있으면 true
    var flag2 = $("input[name='allDay']:checked").val();

    //시작일과 종료일이 다르면 종일여부 버튼을 삭제한다.
    //시작일과 종료일이 같으면 종일여부 활성화
    toggleAllDayRadioButton(flag1);

    //시작일이 종료일과 같고, 종일여부에 체크되어 있으면 시간을 다시 disable 한다
    if(flag1 && flag2 =='Y'){
     $('.time').prop('disabled', true)
     };

    //시작일이 종료일과 같고, 종일 여부에 체크되지 않았으면 다시간을 다시 enable
    if(flag1 && flag2 =='N'){
    $('.time').prop('disabled', false)
    };

    //다시 한 번 시간 체크
    checkTime();
}

 </script>
    <!-- calendar 태그 -->
    <div id="calendar-container" class="my-3 mx-3">
        <div id='calendar'></div>
    </div>

    <!-- 모달 -->
    <div class="modal" id="meetupModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">일정을 입력하세요</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group customPicker">
                        <label for="startDate">날짜:</label>
                        <input type="text" class="form-control" id="startDate" style="display:inline; width:45%"
                               placeholder="시작일" readonly>
                        <input type="text" class="form-control" id="endDate" style="display:inline; width:45%"
                               placeholder="종료일" readonly>
                    </div>
                    <div class="form-group">
                        <label for="startHour">시작시간:</label>
                        <select class="form-control time" id="startHour" style="margin-bottom:0.5rem">
                            <option value="09">09시</option>
                            <option value="10">10시</option>
                            <option value="11">11시</option>
                            <option value="12">12시</option>
                            <option value="13">13시</option>
                            <option value="14">14시</option>
                            <option value="15">15시</option>
                            <option value="16">16시</option>
                            <option value="17">17시</option>
                            <option value="18">18시</option>
                            <option value="19" selected>19시</option>
                            <option value="20">20시</option>
                            <option value="21">21시</option>
                            <option value="22">22시</option>
                        </select>
                        <select class="form-control time" id="startMinute">
                            <option value="00">00분</option>
                            <option value="05">05분</option>
                            <option value="10">10분</option>
                            <option value="15">15분</option>
                            <option value="20">20분</option>
                            <option value="25">25분</option>
                            <option value="30" selected>30분</option>
                            <option value="35">35분</option>
                            <option value="40">40분</option>
                            <option value="45">45분</option>
                            <option value="50">50분</option>
                            <option value="55">55분</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="endHour">종료시간:</label>
                        <p id="eventEndHourError" class="error-message" style="display: none;"> 종료시간은 시작시간보다 늦어야합니다.</p>
                        <select class="form-control time" id="endHour" style="margin-bottom:0.5rem"
                                onchange="checkTime()">
                            <option value="09">09시</option>
                            <option value="10">10시</option>
                            <option value="11">11시</option>
                            <option value="12">12시</option>
                            <option value="13">13시</option>
                            <option value="14">14시</option>
                            <option value="15">15시</option>
                            <option value="16">16시</option>
                            <option value="17">17시</option>
                            <option value="18">18시</option>
                            <option value="19">19시</option>
                            <option value="20">20시</option>
                            <option value="21">21시</option>
                            <option value="22" selected>22시</option>
                        </select>
                        <select class="form-control time" id="endMinute" onchange="checkTime()">
                            <option value="00" selected>00분</option>
                            <option value="05">05분</option>
                            <option value="10">10분</option>
                            <option value="15">15분</option>
                            <option value="20">20분</option>
                            <option value="25">25분</option>
                            <option value="30">30분</option>
                            <option value="35">35분</option>
                            <option value="40">40분</option>
                            <option value="45">45분</option>
                            <option value="50">50분</option>
                            <option value="55">55분</option>
                        </select>
                    </div>
                    <div class="form-group" id="allDayRadioDiv">
                        <label for="allDay">종일 여부:</label>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" value="Y" id="allDay" name="allDay"
                                       onclick="changeAllDayCheck(this)"> 예
                            </label>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" checked="checked" class="form-check-input" value="N" name="allDay"
                                       onclick="changeAllDayCheck(this)"> 아니오
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="meetupType">모임 종류:</label>
                        <div class="form-check" style="padding-left: 0;">
                            <label class="form-check-label">
                                <input type="radio" name="meetupType" id="meetupType" value="badminton"
                                       checked="checked"> 배드민턴
                            </label>

                            <label class="form-check-label">
                                <input type="radio" name="meetupType" value="boardGame"> 보드게임
                            </label>

                            <label class="form-check-label">
                                <input type="radio" name="meetupType" value="overallGathering"> 전체 회식
                            </label>

                            <label class="form-check-label">
                                <input type="radio" name="meetupType" value="partialGathering"> 부분 회식
                            </label>

                            <label class="form-check-label">
                                <input type="radio" name="meetupType" value="walk"> 산책
                            </label>

                            <label class="form-check-label">
                                <input type="radio" name="meetupType" value="shopping"> 쇼핑
                            </label>

                            <label class="form-check-label">
                                <input type="radio" name="meetupType" value="etc"> 기타
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="meetupTitle">일정명 <span class="required-field">*</span></label>
                            <input type="text" class="form-control" id="meetupTitle" onblur="meetupTitleCheck()">
                            <p id="meetupTitleError" class="error-message" style="display:none"> 일정명을 입력하세요 </p>
                        </div>
                        <div class="form-group">
                            <label for="eventMemo">메모</label>
                            <textarea class="form-control" id="eventMemo" rows="3" maxlength="300"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="button" id="deleteSchedule" class="btn btn-danger" onclick="deleteSchedule()">일정 취소하기</button>
                        <button type="button" class="btn btn-primary" onclick="saveSchedule()">일정 저장하기</button>
                    </div>
                    <input type="hidden" id="groupId">
                    <input type="hidden" id="publicId">
                    <input type="hidden" id="hostId">
                    <input type="hidden" id="hostName">
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="meetupModalDetail" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">일정을 입력하세요</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group customPicker">
                        <label for="startDate">날짜:</label>
                        <input type="text" class="form-control" id="startDate2" style="display:inline; width:45%"
                               placeholder="시작일" readonly>
                        <input type="text" class="form-control" id="endDate2" style="display:inline; width:45%"
                               placeholder="종료일" readonly>
                    </div>
                    <div class="form-group">
                        <label for="startHour">시작시간:</label>
                        <select class="form-control time" id="startHour2" style="margin-bottom:0.5rem">
                            <option value="09">09시</option>
                            <option value="10">10시</option>
                            <option value="11">11시</option>
                            <option value="12">12시</option>
                            <option value="13">13시</option>
                            <option value="14">14시</option>
                            <option value="15">15시</option>
                            <option value="16">16시</option>
                            <option value="17">17시</option>
                            <option value="18">18시</option>
                            <option value="19" selected>19시</option>
                            <option value="20">20시</option>
                            <option value="21">21시</option>
                            <option value="22">22시</option>
                        </select>
                        <select class="form-control time" id="startMinute2">
                            <option value="00">00분</option>
                            <option value="05">05분</option>
                            <option value="10">10분</option>
                            <option value="15">15분</option>
                            <option value="20">20분</option>
                            <option value="25">25분</option>
                            <option value="30" selected>30분</option>
                            <option value="35">35분</option>
                            <option value="40">40분</option>
                            <option value="45">45분</option>
                            <option value="50">50분</option>
                            <option value="55">55분</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="endHour">종료시간:</label>
                        <p id="eventEndHourError2" class="error-message" style="display: none;"> 종료시간은 시작시간보다 늦어야합니다.</p>
                        <select class="form-control time" id="endHour2" style="margin-bottom:0.5rem"
                                onchange="checkTime()">
                            <option value="09">09시</option>
                            <option value="10">10시</option>
                            <option value="11">11시</option>
                            <option value="12">12시</option>
                            <option value="13">13시</option>
                            <option value="14">14시</option>
                            <option value="15">15시</option>
                            <option value="16">16시</option>
                            <option value="17">17시</option>
                            <option value="18">18시</option>
                            <option value="19">19시</option>
                            <option value="20">20시</option>
                            <option value="21">21시</option>
                            <option value="22" selected>22시</option>
                        </select>
                        <select class="form-control time" id="endMinute2" onchange="checkTime()">
                            <option value="00" selected>00분</option>
                            <option value="05">05분</option>
                            <option value="10">10분</option>
                            <option value="15">15분</option>
                            <option value="20">20분</option>
                            <option value="25">25분</option>
                            <option value="30">30분</option>
                            <option value="35">35분</option>
                            <option value="40">40분</option>
                            <option value="45">45분</option>
                            <option value="50">50분</option>
                            <option value="55">55분</option>
                        </select>
                    </div>
                    <div class="form-group" id="allDayRadioDiv2">
                        <label for="allDay">종일 여부:</label>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" value="Y" id="allDay2" name="allDay"
                                       onclick="changeAllDayCheck(this)"> 예
                            </label>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" checked="checked" class="form-check-input" value="N" name="allDay"
                                       onclick="changeAllDayCheck(this)"> 아니오
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="meetupType">모임 종류:</label>
                        <div class="form-check" style="padding-left: 0;">
                            <label class="form-check-label">
                                <input type="radio" name="meetupType" id="meetupType2" value="badminton"
                                       checked="checked"> 배드민턴
                            </label>

                            <label class="form-check-label">
                                <input type="radio" name="meetupType" value="boardGame"> 보드게임
                            </label>

                            <label class="form-check-label">
                                <input type="radio" name="meetupType" value="overallGathering"> 전체 회식
                            </label>

                            <label class="form-check-label">
                                <input type="radio" name="meetupType" value="partialGathering"> 부분 회식
                            </label>

                            <label class="form-check-label">
                                <input type="radio" name="meetupType" value="walk"> 산책
                            </label>

                            <label class="form-check-label">
                                <input type="radio" name="meetupType" value="shopping"> 쇼핑
                            </label>

                            <label class="form-check-label">
                                <input type="radio" name="meetupType" value="etc"> 기타
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="meetupTitle">일정명 <span class="required-field">*</span></label>
                            <input type="text" class="form-control" id="meetupTitle2" onblur="meetupTitleCheck()">
                            <p id="meetupTitleError2" class="error-message" style="display:none"> 일정명을 입력하세요 </p>
                        </div>
                        <div class="form-group">
                            <label for="eventMemo">메모</label>
                            <textarea class="form-control" id="eventMemo2" rows="3" maxlength="300"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="button" id="deleteSchedule2" class="btn btn-danger" onclick="deleteSchedule()">일정 취소하기</button>
                        <button type="button" class="btn btn-primary" onclick="saveSchedule()">일정 저장하기</button>
                    </div>
                    <input type="hidden" id="groupId2">
                    <input type="hidden" id="publicId2">
                    <input type="hidden" id="hostId2">
                    <input type="hidden" id="hostName2">
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>