<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_FullCalendar">
<th:block layout:fragment="content">
    <!-- calendar 태그 -->
    <div id="calendar-container" class="my-3 mx-3">
        <div id='calendar'></div>
    </div>

    <script th:inline="javascript">
var calendar;
var today;
var test;

$(document).ready(function() {
    <!--서버에서 가져온 설정값-->
   today = /*[[ ${localDate} ]]*/; //서버시간
    <!--동적객체 이벤트 START-->
    <!--동적객체 이벤트 END-->
   var calendarEl = $('#calendar')[0];
      // full-calendar 생성하기
     calendar = new FullCalendar.Calendar(calendarEl, {
        height: '700px', // calendar 높이 설정
        expandRows: true, // 화면에 맞게 높이 재설정
        slotMinTime: '08:00', // Day 캘린더에서 시작 시간
        slotMaxTime: '20:00', // Day 캘린더에서 종료 시간
        // 해더에 표시할 툴바
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        },
        initialView: 'dayGridMonth', // 초기 로드 될때 보이는 캘린더 화면(기본 설정: 달)
        initialDate: today, // 초기 날짜 설정 (설정하지 않으면 오늘 날짜가 보인다.)
        navLinks: true, // 날짜를 선택하면 Day 캘린더나 Week 캘린더로 링크
        editable: true, // 수정 가능?
        selectable: true, // 달력 일자 드래그 설정가능
        nowIndicator: true, // 현재 시간 마크
        dayMaxEvents: true, // 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
        locale: 'ko', // 한국어 설정
        eventAdd: function(obj) { // 이벤트가 추가되면 발생하는 이벤트
          console.log(obj);
        },
        eventChange: function(obj) { // 이벤트가 수정되면 발생하는 이벤트
          console.log(obj);
        },
        eventRemove: function(obj){ // 이벤트가 삭제되면 발생하는 이벤트
          console.log(obj);
        },
        select: function(arg) { // 캘린더에서 드래그로 이벤트를 생성할 수 있다.
<!--            arg.allDay=false;-->
<!--            arg.endStr=arg.startStr;-->
            showModal(arg);
<!--          var title = prompt('Event Title test:');-->
<!--          if (title) {-->
<!--            calendar.addEvent({-->
<!--              title: title,-->
<!--              start: arg.start,-->
<!--              end: arg.end,-->
<!--              allDay: arg.allDay-->
<!--            })-->
<!--          }-->
          calendar.unselect()
        },
          // 이벤트
        events: [
          {
<!--    title: '시간 범위 이벤트',-->
<!--  start: '2023-05-30T10:00:00',-->
<!--  end: '2023-05-30T14:00:00',-->
<!--            color: 'blue'-->
          }
<!--          ,-->
<!--          {-->
<!--            title: 'Long Event',-->
<!--            start: '2021-07-07',-->
<!--            end: '2021-07-10'-->
<!--          },-->
<!--          {-->
<!--            groupId: 999,-->
<!--            title: 'Repeating Event',-->
<!--            start: '2021-07-09T16:00:00'-->
<!--          },-->
<!--          {-->
<!--            groupId: 999,-->
<!--            title: 'Repeating Event',-->
<!--            start: '2021-07-16T16:00:00'-->
<!--          },-->
<!--          {-->
<!--            title: 'Conference',-->
<!--            start: '2021-07-11',-->
<!--            end: '2021-07-13'-->
<!--          },-->
<!--          {-->
<!--            title: 'Meeting',-->
<!--            start: '2021-07-12T10:30:00',-->
<!--            end: '2021-07-12T12:30:00'-->
<!--          },-->
<!--          {-->
<!--            title: 'Lunch',-->
<!--            start: '2021-07-12T12:00:00'-->
<!--          },-->
<!--          {-->
<!--            title: 'Meeting',-->
<!--            start: '2021-07-12T14:30:00'-->
<!--          },-->
<!--          {-->
<!--            title: 'Happy Hour',-->
<!--            start: '2021-07-12T17:30:00'-->
<!--          },-->
<!--          {-->
<!--            title: 'Dinner',-->
<!--            start: '2021-07-12T20:00:00'-->
<!--          },-->
<!--          {-->
<!--            title: 'Birthday Party',-->
<!--            start: '2021-07-13T07:00:00'-->
<!--          },-->
<!--          {-->
<!--            title: 'Click for Google',-->
<!--            url: 'http://google.com/', // 클릭시 해당 url로 이동-->
<!--            start: '2021-07-28'-->
<!--          }-->
        ]

      });

       calendar.render();
});

function showModal(arg){
    console.log("변겅전");
    console.log(arg);
    if(arg.view.type=="dayGridMonth" && arg.id==null){
      arg.endStr = arg.startStr;
      arg.allDay = false;
    }

    console.log("변겅후");
    console.log(arg);


    $("#startDate").val(arg.startStr)
    $("#endDate").val(arg.endStr)
    $('#myModal').modal('show');
}

function initModal(){
  $('#myModal').find('input, select, textarea').each( function ( idx, element ) {
			$(element).val("");
    });

}

function saveSchedule(){

    if(!checkTime()) return;
    if(!meetupTitleCheck()) return;


    var meetupId = $('#meetupId').val();
    var startDate = $('#startDate').val(); // 시작일 변수
    var endDate = $('#endDate').val(); // 종료일 변수
    var meetupTitle = $('#meetupTitle').val(); // 일정명 변수
    var memo = $('#eventMemo').val(); // 메모 변수
    var allDayYN = $("input[name='allDay']:checked").val(); //종일여부
    var meetupType = $("input[name='meetupType']:checked").val();

    if(allDayYN == 'N'){
        startDate = startDate+'T'+$("#startHour").val()+":"+$("#startMinutes").val()+":00";
        endDate = endDate+'T'+$("#endHour").val()+":"+$("#endMinutes").val()+":00";
    }

 $.ajax({
  type: "POST",
  url: "/meetup",
  data: JSON.stringify({
        "meetupId"  :   meetupId
    ,   "meetupTitle":   meetupTitle
    ,   "startDate" :   startDate
    ,   "endDate"   :   endDate
    ,   "memo"      :   memo
    ,   "allDayYN"  :   allDayYN
    ,   "meetupType":   meetupType

  }),
  contentType: "application/json",
  success: function(response) {
    // 성공적으로 요청이 처리되었을 때 실행되는 코드
    console.log(response);
  },
  error: function(xhr, status, error) {
    // 요청이 실패했을 때 실행되는 코드
    console.log(xhr.responseText);
  }
});

    //수정 중
    console.log("저장 전");
    console.log("startDate : "+startDate);
    console.log("endDate : "+endDate);
    calendar.addEvent({
        title: meetupTitle
    ,   start: startDate
    ,   end: endDate
    ,   allDay : allDayYN
    });

    console.log("저장 후");
    console.log("startDate : "+startDate);
    console.log("endDate : "+endDate);
    alert("저장 완");
}


function meetupTitleCheck(){
  const meetupTitle = $('#meetupTitle');
  const errorText = $('#meetupTitleError');
  const meetupTitleInput = $('#meetupTitle');

     if (meetupTitle.val().trim() === '') {
        errorText.css('display', 'block');
        meetupTitleInput.addClass('input-error');
        return false;
      }
       errorText.css('display', 'none');
       meetupTitleInput.removeClass('input-error');
       return true;
}

function checkTime() {
    var allDay = $("input[name='allDay']:checked").val();
    if(allDay=='Y') return true

    var startHour = parseInt($('#startHour').val());
    var startMinutes = parseInt($('#startMinutes').val());
    var endHour = parseInt($('#endHour').val());
    var endMinutes = parseInt($('#endMinutes').val());
    var startTime = startHour * 60 + startMinutes;
    var endTime = endHour * 60 + endMinutes;

    if (endTime >= startTime) {
       $("#eventEndHourError").css('display','none');
        $("#endHour,#endMinutes").removeClass('input-error');

        return true;
    }
        $("#eventEndHourError").css('display','contents');
        $("#endHour,#endMinutes").addClass('input-error');
    return false;
}

function changeAllDayCheck(obj){
    if(obj.value == 'Y'){
        $('.time').prop('disabled', true);
       $("#eventEndHourError").css('display','none');
       $("#endHour,#endMinutes").removeClass('input-error');
    } else {
        $('.time').prop('disabled', false);
        checkTime();
    }
}



</script>
    <!-- 모달 -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">일정을 입력하세요</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="startHour">시작시간:</label>
                        <select class="form-control time" id="startHour" style="margin-bottom:0.5rem">
                            <option value="09">09시</option>
                            <option value="10">10시</option>
                            <option value="11">11시</option>
                            <option value="12">12시</option>
                            <option value="13">13시</option>
                            <option value="14">14시</option>
                            <option value="15">15시</option>
                            <option value="16">16시</option>
                            <option value="17">17시</option>
                            <option value="18">18시</option>
                            <option value="19" selected>19시</option>
                            <option value="20">20시</option>
                            <option value="21">21시</option>
                            <option value="22">22시</option>
                        </select>
                        <select class="form-control time" id="startMinutes">
                            <option value="00">00분</option>
                            <option value="05">05분</option>
                            <option value="10">10분</option>
                            <option value="15">15분</option>
                            <option value="20">20분</option>
                            <option value="25">25분</option>
                            <option value="30" selected>30분</option>
                            <option value="35">35분</option>
                            <option value="40">40분</option>
                            <option value="45">45분</option>
                            <option value="50">50분</option>
                            <option value="55">55분</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="endHour">종료시간:</label><p id="eventEndHourError" class="error-message" style="display: none;" > 종료시간은 시작시간보다 늦어야합니다.</p>
                        <select class="form-control time" id="endHour" style="margin-bottom:0.5rem" onchange="checkTime()">
                            <option value="09">09시</option>
                            <option value="10">10시</option>
                            <option value="11">11시</option>
                            <option value="12">12시</option>
                            <option value="13">13시</option>
                            <option value="14">14시</option>
                            <option value="15">15시</option>
                            <option value="16">16시</option>
                            <option value="17">17시</option>
                            <option value="18">18시</option>
                            <option value="19">19시</option>
                            <option value="20">20시</option>
                            <option value="21">21시</option>
                            <option value="22" selected >22시</option>
                        </select>
                        <select class="form-control time" id="endMinutes" onchange="checkTime()">
                            <option value="00" selected >00분</option>
                            <option value="05">05분</option>
                            <option value="10">10분</option>
                            <option value="15">15분</option>
                            <option value="20">20분</option>
                            <option value="25">25분</option>
                            <option value="30">30분</option>
                            <option value="35">35분</option>
                            <option value="40">40분</option>
                            <option value="45">45분</option>
                            <option value="50">50분</option>
                            <option value="55">55분</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="allDay">종일여부:</label>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" value="Y" id="allDay" name="allDay"
                                       onclick="changeAllDayCheck(this)"> 예
                            </label>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" checked="checked" class="form-check-input" value="N" name="allDay"
                                       onclick="changeAllDayCheck(this)"> 아니오
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="radio" name="meetupType" value="Badminton" checked="checked">
                        <label>배드민턴</label><br>

                        <input type="radio" name="meetupType" value="Board Game">
                        <label>보드게임</label><br>

                        <input type="radio" name="meetupType" value="Overall Gathering">
                        <label>전체 회식</label><br>

                        <input type="radio" name="meetupType" value="Partial Gathering">
                        <label>부분 회식</label><br>

                        <input type="radio" name="meetupType" value="Walk">
                        <label>산책</label><br>

                        <input type="radio" name="meetupType" value="Shopping">
                        <label>쇼핑</label><br>

                        <input type="radio" name="meetupType" value="Etc">
                        <label>기타</label><br>
                    </div>

                    <div class="form-group">
                        <label for="meetupTitle">일정명 <span class="required-field">*</span></label>
                        <input type="text" class="form-control" id="meetupTitle" onblur="meetupTitleCheck()">
                        <p id="meetupTitleError" class="error-message" style="display:none"> 일정명을 입력하세요 </p>
                    </div>
                    <div class="form-group">
                        <label for="eventMemo">메모</label>
                        <textarea class="form-control" id="eventMemo" rows="3" maxlength="300"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" onclick="saveSchedule()">일정 저장하기</button>
                </div>
                <input type="text" id ="startDate">
                <input type="text" id ="endDate">
            </div>
        </div>
    </div>
</th:block>
</html>

